.title {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.subtitle {
  margin: 1em;
}

a:visited {
  text-decoration: none;
}

.error {
  color: white;
  background-color: red;
  display: inline-block;
  margin-top: 0.5em;
  padding: 5px;
  border-radius: 10px;
}

.center_content_horizontally {
  text-align: center;
}

#notice {
  color: white;
  display: inline-block;
  margin-top: 0.5em;
  padding: 5px;
  border-radius: 10px;
}